/* Write Style */

body{
	display: flex;
    background-color: #425F57;
}

#canvas{
	margin: 20px;
    color: white;
	background-color: white;
	cursor: crosshair;
	border: solid 3px orange;
	border-radius: 5px;
}

h4, p{
	color: white;
}

.paramater_container{
	border: 3px solid #CFFF8D;
	margin: 20px;
}
